<?xml version="1.0" encoding="UTF-8"?>
<suite name="HawkularUITest">
    <test name="HawkualrLoginTest">
        <classes>
            <class name="org.qe.hawkular.tests.HawkularRegistrationTest" />
          <!--  <class name="org.qe.hawkular.tests.HawkualrLoginTest" />
            <class name="org.qe.hawkular.tests.HawkularAlertsSettingsTest" />
            <class name="org.qe.hawkular.tests.HawkularHomePageTest" /> -->
          <!--   
          <class name="org.qe.hawkular.tests.HawkularRegistrationTest">
            <methods>
               <include name="hawkularRegistrationBasicTest"></include>
            </methods>
            </class>
            -->
        </classes>
    </test>
</suite>
