<?xml version="1.0" encoding="UTF-8"?>
<suite name="HawkularUITest">
    <test name="HawkualrAppServerTest">
        <classes>
            <class name="org.qe.hawkular.tests.HawkularAppServerTest" >
                <methods>
                    <include name="hawkularURLTraitsTest"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>
